.container-gen{
  height: 90vh;

}
.headline-small{
  color: var(--on-surface)
}

.label-text{
  color: var(--on-surface-variant);

}

.custom-input-container {
  color: var(--on-surface-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.text-input{
  margin-top: 10px;
  text-align: center;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield;
}
::ng-deep .mat-mdc-form-field input.mat-mdc-input-element {
  color: var(--on-surface-variant);
  text-align: center;
  width: 100%;
}

::ng-deep .mat-mdc-input-element::placeholder {
  color: var(--on-surface-variant);
  text-align: center;
}

::ng-deep .mat-mdc-floating-label {
  color: var(--on-surface-variant);
  text-align: center;
}

::ng-deep .mdc-notched-outline {
  border-color: var(--on-surface-variant);
  text-align: center;
}


.custom-input {
  margin-top: 20px;
  width: 100px;
  height: 70px;
  text-align: center;
}
.container-motivation{
  width: 510px;
  border: solid var(--primary-container) 0.5px;
  border-radius: 12px;
  color: var(--on-surface-variant);
}

::ng-deep .mat-form-field input.mat-input-element {
  color: red ;
}

mat-divider[vertical] {
  height: 90vh;
  color: var(--primary);
}
.sidenav-container {
  height: 90vh;
}

.content {
  overflow: hidden ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* Contenedor del Selector de Modos */
.mode-selector {
  height: 64px;
  width: 500px;
  background: var(--surface-container-high);
  border-radius: 12px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grupo de botones */
.mode-buttons {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Estilo base de los botones */
mat-button-toggle {
  color: var(--on-surface-variant);
  background: transparent;
  font-weight: bold;

}

mat-button-toggle.mat-button-toggle-checked {
  background: transparent ;
}

mat-button-toggle.mat-button-toggle-checked .icons {
  background:  var(--secondary-container);
  height: 32px;
  width: 64px;
  padding-top: 4px;
  border-radius: 16px;
}


/* Caja del Temporizador */
.timer-box {
  background: var(--surface-container-high);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-top: 20px;
}

.time-box {
  width: 214px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--surface-variant);
  border-radius: 12px;
  color: var(--on-surface-variant);

}

.time-box.active {
  background: var(--primary-container);
  color: var(--on-surface-variant);
  border: solid var(--primary);
}

.separator {
  font-size: 30px;
  font-weight: bold;
  margin: 0 10px;
  color: var(--on-surface-variant);

}

.label {
  color: var(--on-surface-variant);
}

.label-bold {
  font-size: 16px;
  font-weight: bold;
}


.containers-input{
  width: 100px;
  height: 60px;
  color: var(--on-surface-variant);
}

.start-btn {
  margin-top: 5.5rem;
  background: var(--primary);
  color: var(--on-primary);
  font-size: 36px;
  padding: 10px 20px;
  border-radius: 100px;
  width: 240px;
  height: 67px;
  border: none;
  cursor: pointer;
}

::ng-deep .start-btn:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5) ;
  cursor: not-allowed;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 36px;
}
