<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <nav>
      <ul>
        <li>
          <mat-icon class="icons">devices</mat-icon>
          <a mat-button routerLink="/dispositivos">
            <span>Dispositivos</span>
          </a>
        </li>
        <li>
          <mat-icon class="icons">timer</mat-icon>
          <a mat-button routerLink="/pomodoro">
            <span>Pomodoro</span>
          </a>
        </li>
        <li>
          <mat-icon class="icons">star</mat-icon>
          <a mat-button routerLink="/estadisticas">
            <span>Estadísticas</span>
          </a>
        </li>
        <li>
          <mat-icon class="icons">account_circle</mat-icon>
          <a mat-button routerLink="/cuenta">
            <span>Cuenta</span>
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
</mat-sidenav-container>
