.top-app-bar {
  background: var(--surface-container-high); /* Color de fondo */
  color: var(--on-surface-variant); /* Color del texto */
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.title {
  font-size: var(--title-large);
  margin-left: 8px;
}

.spacer {
  flex-grow: 1; /* Empuja los elementos hacia los extremos */
}

mat-icon {
  color: var(--on-surface-variant);
}
